
     <h4>{{message}}</h4>
     
     <div id="student_content" class="col-sm-8">
         <table class="table table-striped">
             <thead>
                 <tr>
                     <th>Student's number</th>
                     <th>Full name</th>
                     <th>Program</th>
                     <th>Subjects</th>
                 </tr>
             </thead>
             <tbody>
                 {{#each students}}
                 <tr>
                     <td>{{studentNumber}}</td>
                     <td>{{name}}</td>
                     <td>{{program}}</td>
                     <td>{{courses}}</td>
                 </tr>
                 {{/each}}
             </tbody>
         </table>
     </div>
