
     <h4>{{message}}</h4>
     
     <div id="student_content" class="col-sm-4">
         <ol>
             {{#each students}}
             <li>
                 <ul class="list-group">
                    <li class="list-group-item">Student's number - {{studentNumber}} </li>
                    <li class="list-group-item">Full name - {{name}}</li>
                    <li class="list-group-item">Program - {{program}}</li>
                    <li class="list-group-item">Subjects - {{courses}}</li>
                 </ul>
             </li> 
             {{/each}}
         </ol>
     </div>
